.card_content{
  border: 2px solid $primary;
  padding: 20px;
  width: 100%;
  margin: 20px auto;
  border-radius: 5px;
  background: white;
}
.card_img_content{
  width: 150px;
  height: 150px;
  margin: 10px auto;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  border-radius: 75px;
  background-position: center center;
}